<%- include header %>
<div class="col-xs-12 col-md-12 addShop">
    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-12 col-md-10 shopForm">
        <form class="form-inline" name="product" role="form" method="post">
            <div class="row">
                <div class="col-md-12 btnBar">
                    <div class="row">
                        <div class="col-xs-3 col-md-3"><button type="submit" onclick=" return display()" class="btn btn-primary" id="submit" disabled="true">保存商品</button></div>
                        <div class="col-xs-3 col-md-3"><a href="/add_properties" class="btn btn-primary">添加属性</a></div>
                        <div class="col-xs-3 col-md-3"><a href="/delete_property" class="btn btn-primary">删除属性</a></div>
                        <div class="col-xs-3 col-md-3"><button type="reset" class="btn btn-primary">取消</button></div>
                    </div>
                </div>
            </div>

            <div class="row">
            <table class="table">
                <tr >
                      <td><label for="inputEmail3" class="col-sm-2 control-label">商品名称: </label></td>
                      <td>
                            <input type="text" class="form-control" name="name"  autofocus="true"  onchange="check_input()">
                      </td>

                      <td><label for="inputEmail3" class="col-sm-2 control-label">商品数量: </label></td>
                      <td>
                      <div class="btn-group">
                      <a  class="btn btn-default" href="/lower_shop_number">-</a>
                      <input type="text" class="btn btn-default" name="num" value="<%= product_num %>" onchange="check_input()" size="2">
                      <a  href="/add_shop_number"" class="btn btn-default">+</a>
                      </div>
                      </td>
                </tr>
                <tr >
                       <td><label for="inputEmail3" class="col-sm-2 control-label">单价(元): </label></td>
                       <td>
                            <input type="text" class="form-control" name="price" onchange="check_input()" >
                       </td>

                       <td><label for="inputEmail3" class="col-sm-2 control-label">单位: </label></td>
                       <td>
                            <input type="text" class="form-control" name="unit" onchange="check_input()">
                       </td>
                </tr>
                <tr >
                       <% try{%>
                       <% properties.forEach(function(property,index){ %>
                       <td><label for="inputEmail3" class="col-sm-2 control-label"><%= property.name %>:</label></td>
                       <td>
                            <input type="text" name="<%= property.name %>" class="form-control"  value="<%= property.value %>"  onchange="check_input()">
                       </td>
                       <% if(index %2!=0 ){%></tr><tr><% }%>
                       <% })%><% }catch (err){}%>
                       </tr>
            </table>
            <script>
             function check_input(){
               var submit=document.getElementById("submit");
               if(document.product.name.value ==""||document.product.num.value ==""||document.product.num.value ==0||document.product.unit.value ==""||document.product.price.value ==""){
               submit.disabled = true;
               }
               else{
               submit.disabled = false;
               }
             }
            </script>
        </form>
    </div>
</div>
<%- include footer %>
