<%- include header%>
<script src="javascripts/viewStage/admin.js"></script>
    <div class="col-md-12 shopManage">
        <p>商品信息管理</p>
        <a type="button" class="btn btn-primary" href="/add_product">添加商品</a>

        <table class="table table-hover table-responsive">
            <tr>
                <td>序号</td>
                <td>商品名称</td>
                <td>商品数量</td>
                <td>单价(元)</td>
                <td>单位</td>
                <td>发布时间</td>
                <td>操作</td>
            </tr>
            <% var count = 1; products.forEach(function(product,index){ %>
            <tr>
                <td><%= count++ %></td>
                <td><%= product.name %></td>
                <td>
                    <form method="post">
                        <div class="btn-group">
                             <a class="btn btn-default" href="/less_num?name=<%= product.name %>&number=<%= product.num %>">-</a>
                             <input type="text" class="btn btn-default shopNum" name="num" placeholder="<%= product.num %>">
                             <a class="btn btn-default"  href="/add_num?name=<%= product.name %>&number=<%= product.num %>">+</a>
                        </div>
                    </form>
                </td>
                <td><%= product.price %></td>
                <td><%= product.unit %></td>
                <td>2014-09-24</td>
                <td>
                    <a href="/detail_product?name=<%= product.name %>">详情</a>
                    <a href="/delete?name=<%= product.name %>" onclick="return get_status()">删除</a>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
<br />
<%- include footer %>