<%- include header %>
<script src="javascripts/viewStage/product_list.js"></script>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center"><h3>商品列表</h3></div>
        <div class="panel-body">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                <th class="text-center">分类</th>
                <th class="text-center">名称</th>
                <th class="text-center">单价(元)</th>
                <th class="text-center">单位</th>
                <th class="text-center"></th>
                </tr>
              </thead>
              <% products.forEach(function(product,index){ %>
                 <tr class="text-center">
                 <td><%= product.kind %></td>
                 <td><%= product.name %></td>
                 <td><%= product.price %></td>
                 <td><%= product.unit %></td>
                 <td><a class="btn btn-primary " type="button" href="/addCart">加入购物车</a></td>
                 </tr>
                 <% }) %>
            </table>
        </div>
    </div>
</div>
<%- include footer %>
