<%- include header %>
<script src="javascripts/viewStage/shop_cat.js"></script>
  <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center"><h3>购物清单</h3></div>
            <div class="panel-body">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th class="text-center">分类</th>
                        <th class="text-center">名称</th>
                        <th class="text-center">单价(元)</th>
                        <th class="text-center">单位</th>
                        <th class="text-center">数量</th>
                        <th class="text-center">小计</th>
                    </tr>
                    </thead>
                    <% var count = 0,free=0 ; products.forEach(function(product,index){%>
                    <tr>
                        <td><%= product.kind %></td>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= product.unit %></td>
                        <td><div class="btn-group">
                            <button type="button" class="btn btn-default" href="/less">-</button>
                            <a type="button" class="btn btn-default disabled"><%= product.num %></a>
                            <button type="button" class="btn btn-default" href="/add">+</button></div>
                        </td>
                       <% if(product.discounts=="true"&&product.num>2){ %>
                       <td><%= free= (product.num%3 +parseInt(product.num/3)*2) * product.price %>元(原价：<%= product.num * product.price%>元)</td>
                       <% }else{%>
                       <td><%= free= product.num * product.price%>元</td>
                       <% } %>
                    <tr>
                    <%count +=free ;}) %>
                </table>
            </div>
            <div class="well text-right">
                <p><span>总计：<%= count %>元</span><p>
                <a class="btn btn-lg btn-primary" href="/Payment">付款</a>
            </div>
        </div>
    </div>
<%- include footer %>
