<%- include header %>
<script src="javascripts/viewStage/shop_cat.js"></script>
  <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center"><h3>购物清单</h3></div>
            date
            <div class="panel-body">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th class="text-center">分类</th>
                        <th class="text-center">名称</th>
                        <th class="text-center">单价(元)</th>
                        <th class="text-center">单位</th>
                        <th class="text-center">数量</th>
                        <th class="text-center">小计</th>
                    </tr>
                    </thead>
                    <%  products.forEach(function(product,index){%>
                    <tr>
                        <td><%= product.kind %></td>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= product.unit %></td>
                        <td>
                        <td><div class="btn-group"><button type="button" class="btn btn-default" href="/less">-</button>
                            <a type="button" class="btn btn-default disabled">{{}}</a>
                            <button type="button" class="btn btn-default" href="/add">+</button></div>
                        </td>
                        <td>{{}}元</td>
                        <% }) %>
                   </tbody>
                </table>
            </div>
            <div class="well text-right">
                <p><span>总计：<%= all %>元</span><p>
                <p><span>节省：<%= free %>元</span><p>
                <a class="btn btn-lg btn-primary" href="/Payment">付款</a>
            </div>
        </div>
    </div>
<%- include footer %>
