<%- include header %>
<a href="admin">商品信息管理</a>>><a href="detail_product?name=<%= product_name %>"><%= product_name%>>></a>添加属性
<div class="col-xs-12 col-md-12 addShop">
    <div class="col-xs-1 col-md-2"></div>
      <div class="col-xs-12 col-md-10 shopForm">
        <form class="form-inline" role="form" method="post" name="product">
           <table class="table">
                <div class="row">
                    <tr>
                        <td><label for="inputEmail3" class="col-sm-2 control-label">属性名: </label></td>
                        <td>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="name" placeholder="请输入属性名称" autofocus="true">
                        </div>
                        <td>
                    </tr>
                    <tr>
                        <td><label for="inputEmail3" class="col-sm-2 control-label">属性值:</label></td>
                        <td>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="value" placeholder="请输入该属性值">
                        </div>
                        </td>
                    </tr>

                    <tr>
                    <td><button type="submit"  class="btn btn-primary">保存</button></td>
                    <td><a href="/detail_product?name=<%= product_name %>" class="btn btn-primary">取消</a></td>
                    </tr>
                </div>
           </table>
        </form>
      </div>
</div>
<%- include footer %>