<%- include header %>
<div class="col-xs-12 col-md-12 addShop">
   <script>
   function display(){
     alert("保存成功！");
   }
   </script>
    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-12 col-md-10 shopForm">
        <form class="form-inline" role="form" method="post">
            <div class="row">
                <div class="col-md-12 btnBar">
                    <div class="row">
                        <div class="col-xs-3 col-md-3"><button type="submit" onclick=display() class="btn btn-primary">保存商品</button></div>
                        <div class="col-xs-3 col-md-3"><a href="/add_product_properties" class="btn btn-primary">添加属性</a></div>
                        <div class="col-xs-3 col-md-3"><a href="/delete_product_property" class="btn btn-primary">删除属性</a></div>
                        <div class="col-xs-3 col-md-3"><button type="reset" class="btn btn-primary">取消</button></div>
                    </div>
                </div>
            </div>

            <table class="table">
              <tr>
                <% var sum =0;for (value in this_product){ if(sum != length-1 && value != '_id'){%>
                <td><label for="inputEmail3" class="col-sm-2 control-label"><%= value%>:<label></td>
                <td><div class="col-sm-4">
                <input type="text" class="form-control" name="<%= value%>" size="20" value="<%= this_product[value] %>">
                </div></td>
                <% if(sum %2 !=0){%></tr><tr>
                <% }sum +=1} }%>
            </table>
        </form>
    </div>
    </div>
<%- include footer %>
